

<div class="card col-md-4 p-4">
    <%= image_tag book.image.url, class: "card-img-top"  %>
    <div class="card-body">
      <h5><strong><%= link_to book.name, book_path(book)  %></strong></h5>
      <p><%= book.price %>円</p>
    </div>
  </div>
